:root{
    --black: #000000;
    --white: #ffffff;

    --light-gray: #eeeeee;
    --light-blue: #9ab7d4;

    --color-primary: #274868;
    --color-primary-hover: #4175aa;

    --color-secondary: #dfbb67;
    --color-secondary-hover: #f5da9c;

    --color-danger:#cf713a;
    --color-danger-hover:#e09163;

    --color-hover-all: rgba(255, 255, 255, 0.1);

    --font-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-serif: "Cormorant Garamond", serif;
    --font-sans: "Plus Jakarta Sans", sans-serif;

}

