

.app {
    position: relative;

    width: 100%;
    min-height: 100dvh;

    font-family: var(--font-sans);  
    outline: 3px solid red;
    background-color: var(--background);
}

.main-content {
    flex-grow: 1;
    width: 100%;
    min-height: 100dvh;

    min-width: 0;
    background-color: var(--background);
    padding: 1rem; 
}

.main-section {
    height: 100%;
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 1200px;
    /* min-width: 250px; */
    margin: 0 auto;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    width: 100%;
    max-width: 1200px;
   
    margin: 0 auto;
    padding: 0.5rem 0;
    text-align: center;
    color: var(--foreground);
    margin-bottom: 15px;
}

.section .header-group {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.section-title{
    font-size: clamp(1.5rem, 3vw, 2rem);
    color: var(--foreground);
    padding: 0.3rem;
    font-family: var(--font-display);
}

.section-header-line {
    width: 100%;
    height: 1px;
    background-color: var(--accent);
}


@media (width >= 768px) {

    .app{
        display: flex;
        flex-direction: row;
    }

    .app.collapsed{
        padding-left: 70px;
    }

    .main-content {
        padding: 2rem; 
    }

}
